.logo-icon{
   transition: transform 1s , rotate 0.1s linear,opacity 2s;
}
.logo-icon_start{
   /* padding-: ;*/
    transform: translate(-600px,0) rotate(0);
    opacity: 1;
}

.logo-icon_end{
    /* padding-: ;*/
    transform: translate(0,0) rotate(3600deg);
    opacity: 1;
}
.app-name{
    transition: transform 1s,opacity 2s;
}
.app-name_start{
    transform: translate(-600px,0) ;
    opacity: 1;
}
.app-name_end{
    transform: translate(0, 0) ;
    opacity: 1;
}
